<html>
	<head>
		<title>GitQueue</title>
	</head>
	<body>
		<h3>The project {{ project }}</h3>
		<div>
			{{ issues|length }} issues
		</div>
		<ul>
			{% for issue in issues %}
				<li>
					{{ issue.title }}
				</li>
			{% endfor %}
		</ul>
	</body>
</html>